body {
    background-color: #2b2d42;
    text-align: center;
}
/* 2b2d42 */
div {
    font-family: Courier;
    font-size: 16px;
    display: block;
    line-height: 90px;
    margin: 0px auto;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #161925;
}

.blueish {
    background-color: #235789;
}

.redish {
    background-color: #c1292e;
}

a:link    {
    /* Applies to all unvisited links */
    text-decoration:  none;
    color:            #ffffff;
} 
  a:visited {
    /* Applies to all visited links */
    text-decoration:  none;
    color:            #ffffff;
} 
  a:hover   {
    /* Applies to links under the pointer */
    text-decoration:  underline;
    background-color: #e8e7e6;
    color:            rgb(22, 25, 37);
} 
  a:active  {
    /* Applies to activated links */
    text-decoration:  underline;
    background-color: black;
    color: white;
}

.search {
	width: 200px;
	height 90px;
}