body {
    background-image: url(background4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text {
    font-family: monospace;
    color: black;
}

.link {
    position: relative;
    font-size: 24px;
}

.transparent-box {
    background-color: #000000;
    opacity: 0.5;
    border: 2px solid red;
}

.transparent-box p {
    font-size: 24px;
    font-family: Courier;
    margin: 20%;
    text-align: center;
    border: 2px solid yellow;
}
