body {
/*    background-color: #2b2d42; */
    text-align: center;
	background: url("background4.jpg");
	background-repeat: no-repeat;
	background-size: 100%, 100%;
}

div {
	margin: 0px auto;
}

.container {
    font-family: Courier;
    font-size: 20px;
    display: block;
    line-height: 90px;
    margin: 0px auto;	
}

.links {
    background-color: #235789;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 5px;
	background-color: rgba(0, 0, 0, 0.6);
}

/* Hyperlink properties */
a:link    {
    /* Applies to all unvisited links */
    text-decoration:  none;
    color:            #ffffff;
} 
  a:visited {
    /* Applies to all visited links */
    text-decoration:  none;
    color:            #ffffff;
} 
  a:hover   {
    /* Applies to links under the pointer */
    text-decoration:  underline;
    background-color: #e8e7e6;
    color:            rgb(22, 25, 37);
} 
  a:active  {
    /* Applies to activated links */
    text-decoration:  underline;
    background-color: black;
    color: white;
}

/* Search box specifics */
.search-box {
	border: 1px solid;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0);
	width: 50%;
	text-align: left;
	padding: 10px;
	font-size: 18px;
	font-family: Courier;
	align: center;
}

#search-bar {
	background: none;
	display: block;
}

input[type="text"] {
	margin: auto;
}

button {
	border: 1px solid;
	color: #ffffff;
	background: rgba(0, 0, 0, 0);
	font-family: Courier;
	font-size: 18px;
	text-align: center;
	margin: 0px auto;
	display: block;
}
